<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head'); %>
     <link rel="stylesheet" href="./contato.css">

<body>
    <%- include('../partials/header'); %> 

    <main id="body">
        <section id="intro">
            <h1 class="title">Nos conhecendo melhor</h1>
            <p class="p">ESTE SERÁ O SOBRE</p>
        </section>

        <section id="intro2">
            <h3 id="info">ESTE SERÁ O SOBRE</h3>
            <div class="divs">
                <img class="icons" src="Icone1.png" alt="teste">
                <p class="desc">ESTE SERÁ O SOBRE</p>
            </div>
            <p class="minip">ESTE SERÁ O SOBRE</p>
            <div class="divs">
                <img class="icons" src="Icone2.png" alt="teste">
                <p class="desc"> ESTE SERÁ O SOBRE</p>
            </div>
            <p class="minip">ESTE SERÁ O SOBRE | ESTE SERÁ O SOBRE</p>

            <div class="divs">
                <img class="icons" src="Icone3.png" alt="teste">
                <p class="desc">ESTE SERÁ O SOBRE</p>
            </div>
            <p class="minip">ESTE SERÁ O SOBRE</p>
      
        <%- include('../partials/menu'); %> 
    </main>

    <%- include('../partials/footer'); %> 

</body>

</html>